<!doctype html>
<html lang=en>

{% include "__head.html" with title="Metadata" %}

<body>
  {% include "__navigation.html" %}

  <div class="jumbotron big">
    <div class="container animated slideInLeft">
      <h1>Metadata</h1>
      <p>{{ count }} vehicles and counting</p>
    </div>
  </div>

  <section class="about-metadata">
    <div class="container">

      <h2>About</h2>
      <p>
        On this page you can download some metadata. For now we only provide Speed Info. You can select a vehicle to download the data from in the dropdown below.
      </p>

      <form action="/downloadmetadata/" method="POST">
        {% csrf_token %}
        <div class="select-style">
          <select name="units">
            {% for unit in vehicles %}
              <option id="unitID" value="{{ unit }}">{{ unit }}</option>
            {% endfor %}
          </select>
        </div>
        <br />
        <p><button type="submit" class="btn btn-primary btn-lg">Download Metadata</button></p>
      </form>

    </div>
  </section>

  {% include "__footer.html" %}

  {% include "__scripts.html" %}

</body>

</html>
