<!doctype html>
<html lang=en>

{% include "__head.html" with title="Reports" %}

<body>
  {% include "__navigation.html" %}

  <div class="jumbotron big">
    <div class="container animated slideInLeft">
      <h1>Report for unit {{ unitid }}</h1>
      <p><a class="btn btn-secondary btn-lg" id="generate-pdf" role="button">Download PDF</a></p>
    </div>
  </div>

  <section class="reports">
    <div class="container">
      <div class="row">

        <div class="col-xs-12">

          {% if processorusage_usage and cpuusage %}
            <h2>CPU Usage</h2>
            <div id="cpu-usage" class="myChart" style="width:100%; height:400px;"></div>
          {% endif %}

          {% if processortemperature_temperature and cputemperature %}
            <h2>CPU Temperature</h2>
            <div id="cpu-temperature" class="myChart" style="width:100%; height:400px;"></div>
          {% endif %}

          {% if memoryusage_usage and ramusage %}
            <h2>RAM Usage</h2>
            <div id="ram-usage" class="myChart" style="width:100%; height:400px;"></div>
          {% endif %}

          {% if gpstemperature_temperature and gpstemp %}
            <h2>GPS Temperature</h2>
            <div id="gps-temperature" class="myChart" style="width:100%; height:400px;"></div>
          {% endif %}

          {% if drivendistance_distance and drivendistance %}
            <h2>Driven Distance</h2>
            <div id="driven-distance" class="myChart" style="width:100%; height:400px;"></div>
          {% endif %}

          {% if operationtime_time and operationtime %}
            <h2>Operation Time</h2>
            <div id="operation-time" class="myChart" style="width:100%; height:400px;"></div>
          {% endif %}

        </div>
      </div>
    </div>
  </section>

  {% include "__footer.html" %}

  {% include "__scripts.html" %}

  {% include "__scripts-highstock.html" %}

  <!-- Highcharts Setup -->
  <script>
    $(function () {
        $('#cpu-usage').highcharts({
            title: {
                text: 'Processor Usage',
            },
            xAxis: {
                categories: {{ processorusage_datetime|safe }},
                min: 0,
                max: 200,
            },
            scrollbar: {
                enabled: false
            },
            yAxis: {
                title: {
                    text: 'Usage (%)'
                },
                plotLines: [{
                    value: {{ processorusage_average }},
                    width: 5,
                    color: '#808080'
                }],
                max: 100,
                min: 0,
            },
            tooltip: {
                valueSuffix: '%'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            credits: {
                 enabled: false
            },
            series: [{
                name: 'Unit {{ unitid }}',
                data: {{ processorusage_usage }}
            }]
        });
      });

      $(function () {
          $('#cpu-temperature').highcharts({
              title: {
                  text: 'Processor Temperature',
              },
              xAxis: {
                  categories: {{ processortemperature_datetime|safe }},
                  min: 0,
                  max: 200,
              },
              scrollbar: {
                  enabled: false
              },
              yAxis: {
                  title: {
                      text: 'Temperature (°C)'
                  },
                  plotLines: [{
                      value: {{ processortemperature_average }},
                      width: 5,
                      color: '#808080'
                  }],
                  max: 100,
                  min: 0,
              },
              tooltip: {
                  valueSuffix: '°C'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              credits: {
                   enabled: false
              },
              series: [{
                  name: 'Unit {{ unitid }}',
                  data: {{ processortemperature_temperature }}
              }]
          });
        });

    $(function () {
        $('#ram-usage').highcharts({
            title: {
                text: 'RAM Usage',
            },
            xAxis: {
                categories: {{ memoryusage_datetime|safe }},
                min: 0,
                max: 200,
            },
            scrollbar: {
                enabled: false
            },
            yAxis: {
                title: {
                    text: 'Usage (%)'
                },
                plotLines: [{
                    value: {{ memoryusage_average }},
                    width: 5,
                    color: '#808080'
                }],
                max: 100,
                min: 0,
            },
            tooltip: {
                valueSuffix: '%'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            credits: {
                 enabled: false
            },
            series: [{
                name: 'Unit {{ unitid }}',
                data: {{ memoryusage_usage }}
            }]
        });
      });

  $(function () {
      $('#gps-temperature').highcharts({
          title: {
              text: 'GPS Temperature',
          },
          xAxis: {
              categories: {{ gpstemperature_datetime|safe }},
              min:0,
              max:200,
          },
          scrollbar: {
              enabled: false
          },
          yAxis: {
              title: {
                  text: 'Temperature (°C)'
              },
              plotLines: [{
                  value: {{ gpstemperature_average }},
                  width: 5,
                  color: '#808080'
              }],
              max: 100,
              min: 0,
          },
          tooltip: {
              valueSuffix: '°C'
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle',
              borderWidth: 0
          },
          credits: {
               enabled: false
          },
          series: [{
              name: 'Unit {{ unitid }}',
              data: {{ gpstemperature_temperature }}
          }]
      });
    });

    $(function () {
        $('#driven-distance').highcharts({
            title: {
                text: 'Driven Distance',
            },
            chart: {
                type: 'column'
            },
            xAxis: {
                categories: [
                    ''
                ],
                crosshair: false
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Driven Distance (kilometers)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y} km</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            credits: {
                 enabled: false
            },
            series: [{
                name: 'Unit {{ unitid }}',
                data: [{{ drivendistance_distance }}]
            }, {
                name: 'Average',
                data: [{{ drivendistance_average }}]
            }]
        });
    });

  $(function () {
      $('#operation-time').highcharts({
          title: {
              text: 'Operation Time',
          },
          chart: {
              type: 'column'
          },
          xAxis: {
              categories: [
                  ''
              ],
              crosshair: false
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Operation Time (minutes)'
              }
          },
          tooltip: {
              headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
              pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                  '<td style="padding:0"><b>{point.y} minutes</b></td></tr>',
              footerFormat: '</table>',
              shared: true,
              useHTML: true
          },
          plotOptions: {
              column: {
                  pointPadding: 0.2,
                  borderWidth: 0
              }
          },
          credits: {
               enabled: false
          },
          series: [{
              name: 'Unit {{ unitid }}',
              data: [{{ operationtime_time }}]
          }, {
              name: 'Average',
              data: [{{ operationtime_average }}]
          }]
      });
  });
  </script>


  <script>
  // create canvas function from highcharts example http://jsfiddle.net/highcharts/PDnmQ/
  (function (H) {
    H.Chart.prototype.createCanvas = function (divId) {
        var svg = this.getSVG(),
            width = parseInt(svg.match(/width="([0-9]+)"/)[1]),
            height = parseInt(svg.match(/height="([0-9]+)"/)[1]),
            canvas = document.createElement('canvas');

        canvas.setAttribute('width', width);
        canvas.setAttribute('height', height);

        if (canvas.getContext && canvas.getContext('2d')) {

            canvg(canvas, svg);

            return canvas.toDataURL("image/jpeg");

        } 
        else {
            alert("Your browser doesn't support this feature, please use a modern browser");
            return false;
        }

    }
  }(Highcharts));

  $('#generate-pdf').click(function () {
      var doc = new jsPDF();

      // chart height defined here so each chart can be placed
      // in a different position
      var chartHeight = 80;

      // All units are in the set measurement for the document
      // This can be changed to "pt" (points), "mm" (Default), "cm", "in"
      doc.setFontSize(40);
      doc.text(35, 25, "Unit {{ unitid }}");

      // Loop through each chart
      var count = 0;
      $('.myChart').each(function (index) {
          var imageData = $(this).highcharts().createCanvas();

          if(count % 4 == 0 && count != 0){
          	doc.addPage();
            count = 0;
          }

          doc.addImage(imageData, 'JPEG', 45, (count * chartHeight) + 40, 120, chartHeight);
          count++;
      });

      // Save with name
      doc.save('vms-report-{{ unitid }}.pdf');
  });
  </script>

</body>

</html>
