<!doctype html>
<html lang=en>

{% include "__head.html" with title="Vehicle Overview" %}

<body>
  {% include "__navigation.html" %}

  <div class="jumbotron big">
    <div class="container animated slideInLeft">
      <h1>Vehicles</h1>
    </div>
  </div>

  <section class="vehicle-overview">

    <div class="container">
      <form action="/vehicles/search/" method="POST" class="search">
        {% csrf_token %}
        <input id="unitID" type="text" name="unitID" placeholder="Unit ID">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>

      <h1>Favourites</h1>
      {% if favourites %}
      <div class="row favourites">
        {% for favourite in favourites %}
          <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="/vehicles/{{ favourite.unitid }}">
              <div class="vehicle primary-bg">
                <i class="fa fa-car"></i>
                <h4>{{ favourite.unitid }}</h4>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
      {% endif %}

      <h1><a class="btn btn-primary" href="/vehicles/refresh/"><i class="fa fa-refresh"></i></a> Overview</h1>
      {% if vehicles %}
      <div class="row overview">
        {% for vehicle in vehicles %}
        <div class="col-xs-6 col-sm-4 col-md-3">
          <a href="/vehicles/{{ vehicle.unitid }}">
            <div class="vehicle primary-bg">
              <h4>{{ vehicle.unitid }}</h4>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% if results %}
      <div class="row overview">
        {% for vehicle in results %}
        <div class="col-xs-6 col-sm-4 col-md-3">
          <a href="/vehicles/{{ vehicle.unitid }}">
            <div class="vehicle primary-bg">
              <h4>{{ vehicle.unitid }}</h4>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>


  </section>

  {% include "__footer.html" %}

  {% include "__scripts.html" %}

</body>

</html>
