<!doctype html>
<html lang=en>

{% include "__head.html" with title="Vehicle Overview" %}

<body>
  {% include "__navigation.html" %}

  <div class="jumbotron big">
    <div class="container animated slideInLeft">
      <h1 class="favourite-jumbotron">
        {% if favourite == False %}
        <form action= '/vehicles/favourite/{{ unitid }}/True/' method="get">
          <button type="submit" id="favtoggle"><i class="fa fa-star-o"></i></button>
        {% else %}
        <form action= '/vehicles/favourite/{{ unitid }}/False/' method="get">
          <button type="submit" id="favtoggle"><i class="fa fa-star"></i></button>
        {% endif %}
        </form><span>Vehicle {{ unitid }}</span>
        <p><a class="btn btn-secondary btn-lg" role="button" type="button" data-toggle="modal" data-target="#generateReportModal">Generate Report</a></p>
      </h1>
    </div>
  </div>

  <section class="vehicle">
    <div class="container">

      <div class="modal fade" id="generateReportModal" tabindex="-1" role="dialog" aria-labelledby="generateReportLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form action="/reports/{{ unitid }}/" method="POST" class="reports">
          {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="generateReportLabel">Generate Reports</h4>
          </div>
          <div class="modal-body">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="cpu-temperature" value="cpu-temperature" unchecked>
                  CPU Temperature
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="cpu-usage" value="cpu-usage" unchecked>
                  CPU Usage
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="ram-usage" value="ram-usage" unchecked>
                  RAM Usage
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="gps-temperature" value="gps-temperature" unchecked>
                  GPS Temperature
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="driven-distance" value="driven-distance" unchecked>
                  Driven Distance
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="operation-time" value="operation-time" unchecked>
                  Operation Time
                </label>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" value="Generate">Generate</button>
          </div>
          </form>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-xs-12 col-md-8">
          <h1>Comments</h1>
          <form id="comment-form" action= '/vehicles/comment/{{ unitid }}/' method="POST">
            {% csrf_token %}
            <textarea name="comment" form="comment-form">{{ comments }}</textarea>
            <input class="btn btn-primary" type="submit" value="Save" id="toggle1" />
          </form>
        </div>
        <div class="col-md-4 quickaccess">
          <ul class="list-unstyled">
            <h1>Quick Access</h1>

            {% if processorusage_usage %}
              <a href="#processorusage"><li>CPU Usage</li></a>
            {% endif %}

            {% if processortemperature_temperature %}
              <a href="#processortemperature"><li>CPU Temperature</li></a>
            {% endif %}

            {% if memoryusage_usage %}
              <a href="#ramusage"><li>RAM Usage</li></a>
            {% endif %}

            {% if gpstemperature_temperature %}
              <a href="#gpstemperature"><li>GPS Temperature</li></a>
            {% endif %}

            {% if drivendistance_distance %}
              <a href="#drivendistance"><li>Driven Distance</li></a>
            {% endif %}

            {% if operationtime_time %}
              <a href="#operationtime"><li>Operation Time</li></a>
            {% endif %}
          </ul>
        </div>
      </div>

      <hr />

      {% if processorusage_usage %}
        <h1 id="processorusage">CPU Usage</h1>
        <div id="cpu-usage" style="width:100%; height:400px;"></div>
      {% endif %}

      {% if processortemperature_temperature %}
        <h1 id="processortemperature">CPU Temperature</h1>
        <div id="cpu-temperature" style="width:100%; height:400px;"></div>
      {% endif %}

      {% if memoryusage_usage %}
        <h1 id="ramusage">RAM Usage</h1>
        <div id="ram-usage" style="width:100%; height:400px;"></div>
      {% endif %}

      {% if gpstemperature_temperature %}
        <h1 id="gpstemperature">GPS Temperature</h1>
        <div id="gps-temperature" style="width:100%; height:400px;"></div>
      {% endif %}

      {% if drivendistance_distance %}
        <h1 id="drivendistance">Driven Distance</h1>
        <div id="driven-distance" style="width:100%; height:400px;"></div>
      {% endif %}

      {% if operationtime_time %}
        <h1 id="operationtime">Operation Time</h1>
        <div id="operation-time" style="width:100%; height:400px;"></div>
      {% endif %}
    </div>
  </section>

  {% include "__footer.html" %}

  {% include "__scripts.html" %}

  {% include "__scripts-highstock.html" %}

  <!-- Highcharts Setup -->
  <script>
    $(function () {
        $('#cpu-usage').highcharts({
            title: {
                text: '',
            },
            xAxis: {
                categories: {{ processorusage_datetime|safe }},
                min: 0,
                max: 200,
            },
            scrollbar: {
                enabled: true
            },
            yAxis: {
                title: {
                    text: 'Usage (%)'
                },
                plotLines: [{
                    value: {{ processorusage_average }},
                    width: 5,
                    color: '#808080'
                }],
                max: 100,
                min: 0,
            },
            tooltip: {
                valueSuffix: '%'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            credits: {
                 enabled: false
            },
            series: [{
                name: 'Unit {{ unitid }}',
                data: {{ processorusage_usage }}
            }]
        });
      });

      $(function () {
          $('#cpu-temperature').highcharts({
              title: {
                  text: '',
              },
              xAxis: {
                  categories: {{ processortemperature_datetime|safe }},
                  min: 0,
                  max: 200,
              },
              scrollbar: {
                  enabled: true
              },
              yAxis: {
                  title: {
                      text: 'Temperature (°C)'
                  },
                  plotLines: [{
                      value: {{ processortemperature_average }},
                      width: 5,
                      color: '#808080'
                  }],
                  max: 100,
                  min: 0,
              },
              tooltip: {
                  valueSuffix: '°C'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              credits: {
                   enabled: false
              },
              series: [{
                  name: 'Unit {{ unitid }}',
                  data: {{ processortemperature_temperature }}
              }]
          });
        });

    $(function () {
        $('#ram-usage').highcharts({
            title: {
                text: '',
            },
            xAxis: {
                categories: {{ memoryusage_datetime|safe }},
                min: 0,
                max: 200,
            },
            scrollbar: {
                enabled: true
            },
            yAxis: {
                title: {
                    text: 'Usage (%)'
                },
                plotLines: [{
                    value: {{ memoryusage_average }},
                    width: 5,
                    color: '#808080'
                }],
                max: 100,
                min: 0,
            },
            tooltip: {
                valueSuffix: '%'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            credits: {
                 enabled: false
            },
            series: [{
                name: 'Unit {{ unitid }}',
                data: {{ memoryusage_usage }}
            }]
        });
      });

  $(function () {
      $('#gps-temperature').highcharts({
          title: {
              text: '',
          },
          xAxis: {
              categories: {{ gpstemperature_datetime|safe }},
              min:0,
              max:200,
          },
          scrollbar: {
              enabled: true
          },
          yAxis: {
              title: {
                  text: 'Temperature (°C)'
              },
              plotLines: [{
                  value: {{ gpstemperature_average }},
                  width: 5,
                  color: '#808080'
              }],
              max: 100,
              min: 0,
          },
          tooltip: {
              valueSuffix: '°C'
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle',
              borderWidth: 0
          },
          credits: {
               enabled: false
          },
          series: [{
              name: 'Unit {{ unitid }}',
              data: {{ gpstemperature_temperature }}
          }]
      });
    });

    $(function () {
        $('#driven-distance').highcharts({
            title: {
                text: '',
            },
            chart: {
                type: 'column'
            },
            xAxis: {
                categories: [
                    ''
                ],
                crosshair: false
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Driven Distance (kilometers)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y} km</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            credits: {
                 enabled: false
            },
            series: [{
                name: 'Unit {{ unitid }}',
                data: [{{ drivendistance_distance }}]
            }, {
                name: 'Average',
                data: [{{ drivendistance_average }}]
            }]
        });
    });

  $(function () {
      $('#operation-time').highcharts({
          title: {
              text: '',
          },
          chart: {
              type: 'column'
          },
          xAxis: {
              categories: [
                  ''
              ],
              crosshair: false
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Operation Time (minutes)'
              }
          },
          tooltip: {
              headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
              pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                  '<td style="padding:0"><b>{point.y} minutes</b></td></tr>',
              footerFormat: '</table>',
              shared: true,
              useHTML: true
          },
          plotOptions: {
              column: {
                  pointPadding: 0.2,
                  borderWidth: 0
              }
          },
          credits: {
               enabled: false
          },
          series: [{
              name: 'Unit {{ unitid }}',
              data: [{{ operationtime_time }}]
          }, {
              name: 'Average',
              data: [{{ operationtime_average }}]
          }]
      });
  });
  </script>

</body>

</html>
