/*
* VMS  V1.0
* Copyright 2015, HHHHH
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Colors
- Elements
  - Jumbotron
  - Buttons
- Navigation
- Footer
- Homepage
- About
- Metadata
- Signup
- Login
- Vehicle Overview
- Single Vehicle
*/

/* Colors
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.primary-bg {
  background-color: #05439c;
}
.primary-txt {
  color: #05439c;
}

.primarydark-bg {
  background-color: #053882;
}
.primarydark-txt {
  color: #053882;
}

.primarylight-bg {
  background-color: #064eb5;
}

.primarylight-txt {
  color: #064eb5;s
}

.secondary-bg {
  background-color: #c2342a;
}
.secondary-txt {
  color: #c2342a;
}

.secondarydark-bg {
  background-color: #962821;
}
.secondarydark-txt {
  color: #962821;
}

.white-bg {
  background-color: #fefefe;
}
.white-txt {
  color: #fefefe;
}

/* Elements
––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* Brand */
.brand {
  color: #FEFEFE;
  padding: 10px 10px 5px 10px;
  background-color: #c2342a;
  -webkit-box-shadow: inset 0px 0px 0px 5px rgba(194, 52, 42, 1);
  -moz-box-shadow: inset 0px 0px 0px 5px rgba(194, 52, 42, 1);
  box-shadow: inset 0px 0px 0px 5px rgba(194, 52, 42, 1);
  font-weight: 700;
  font-size: 2.4rem;
  transition: background 0.2s linear 0s;
}

.brand:hover,
.brand:focus,
.brand:active {
  background: none;
  color: #FEFEFE;
  transition: background 0.2s linear 0s;
  text-decoration: none;
}

/* Jumbotron */
.jumbotron {
  background-color: #05439c;
  background-image: url("../img/pat-concrete.png"), url("../img/graph.png");
  background-repeat: repeat, no-repeat;
  background-position: center;
  background-blend-mode: multiply, overlay;
  color: #FEFEFE;
}

.jumbotron.big {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 0px;
}

.jumbotron h1 {
  font-weight: 700;
}

/* Buttons */
.btn-primary {
  color: #FEFEFE;
  background-color: #05439c;
  -webkit-box-shadow: inset 0px 0px 0px 5px rgba(5, 67, 156, 1);
  -moz-box-shadow: inset 0px 0px 0px 5px rgba(5, 67, 156, 1);
  box-shadow: inset 0px 0px 0px 5px rgba(5, 67, 156, 1);
  transition: background 0.2s linear 0s;
  border-radius: 0px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: none;
  color: #05439c;
  transition: all 0.2s linear 0s;
}

.btn-secondary {
  color: #FEFEFE;
  background-color: #c2342a;
  -webkit-box-shadow: inset 0px 0px 0px 5px rgba(194, 52, 42, 1);
  -moz-box-shadow: inset 0px 0px 0px 5px rgba(194, 52, 42, 1);
  box-shadow: inset 0px 0px 0px 5px rgba(194, 52, 42, 1);
  transition: background 0.2s linear 0s;
  border-radius: 0px;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background: none;
  color: #FEFEFE;
  transition: background 0.2s linear 0s;
}

/* Text Effects */
.headbg {
  margin: 15px;
  padding: 15px;
  color: #fefefe;
}

/* Alerts */
.alert {
  border-radius: 0px;
  font-size: 1.5rem;
  border: 0px;
}

/* Forms */
.form-control {
  font-size: 2rem;
  padding: 10px 15px;
  height: 50px;
  box-shadow: none;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #333;
  transition: all 0.2s ease-out;
}

.form-control:active,
.form-control:focus {
  box-shadow: none;
  border: 0px;
  background-color: #064eb5;
  color: #fefefe;
  border-bottom: 1px solid #053882;
  transition: all 0.2s ease-in;
}

/* Tables */
thead td {
  font-weight: bold;
}

/* Navigation
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  background-color: #053882;
  color: #FEFEFE;
  border: none;
}

nav .container {
  display: flex;
  align-items: center;
}

.navbar-default .brand {
  color: #FEFEFE;
  background-color: #c2342a;
  -webkit-box-shadow: inset 0px 0px 0px 5px rgba(194, 52, 42, 1);
  -moz-box-shadow: inset 0px 0px 0px 5px rgba(194, 52, 42, 1);
  box-shadow: inset 0px 0px 0px 5px rgba(194, 52, 42, 1);
  font-weight: 700;
  font-size: 2.4rem;
  transition: background 0.2s linear 0s;
}

.navbar-default .brand:hover,
.navbar-default .brand:focus,
.navbar-default .brand:active {
  background: none;
  color: #FEFEFE;
  transition: background 0.2s linear 0s;
}

.navbar-default .navbar-nav > li {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
  color: #FEFEFE;
}

.navbar-default .navbar-nav > li > p {
  padding-top: 15px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  margin-left: auto;
}

.navbar-toggle {
  float: right;
}

nav .container{
  position: relative;
}

.navbar-nav {
  float: right;
}

.navbar-collapse {
  border: 0px;
  box-shadow: none;
  background-color: #053882;
  width: 100%;
  top: 69px;
}

/* Footer
––––––––––––––––––––––––––––––––––––––––––––––––––*/
footer {
  margin-top: 100px;
  padding: 30px 0px;
}

/* Homepage
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.link-bar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.link-bar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.link-bar ul li {
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem;
}

.link-bar ul li a {
  font-size: 1.8rem;
  color: #fefefe;
  transition: all 0.3s ease-out;
}

.link-bar ul li a:hover,
.link-bar ul li a:active,
.link-bar ul li a:focus {
  text-decoration: none;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow:    0px 4px 0px 0px rgba(255, 255, 255, 1);
  box-shadow:         0px 4px 0px 0px rgba(255, 255, 255, 1);
  transition: all 0.3s ease-in;
}

/* About
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.about h1 {
  font-size: 5rem;
  margin-top: 70px;
  margin-bottom: 70px;
}

.about p {
  font-size: 2.2rem;
  text-align: justify;
  margin-bottom: 70px;
}

/* Metadata
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.metadata h1 {
  color: #fefefe;
  font-size: 5rem;
  margin-top: 70px;
  margin-bottom: 70px;
}

.metadata h2 {
  color: #fefefe;
  text-align: center;
}

.metadata .row {
  margin-bottom: 70px;
}

.metadata canvas {
  display: block;
  margin: 0 auto;
}

/* Signup
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.signup h1 {
  font-size: 5rem;
  margin-top: 70px;
  margin-bottom: 70px;
}

.signup p {
  font-size: 2.52rem;
  text-align: justify;
  margin-bottom: 70px;
}

.signup .btn-lg {
  font-size: 2.7rem;
  text-align: center;
  padding: 20px;
  margin-bottom: 70px;
}

/* Login
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.login h1 {
  margin-top: 70px;
}

.login form {
  margin-bottom: 70px
}

.login p {
  text-align: justify;
  font-size: 2rem;
}

/* Vehicle Overview
––––––––––––––––––––––––––––––––––––––––––––––––––*/
form.search input {
  display: inline;
  margin: 20px 0px 5px;
  width: calc(100%);
  padding: 20px;
  padding-right: 50px;
  font-size: 2rem;
  border-radius: 10px;
  border: 2px solid #dfdfdf;
}

form.search button {
  display: inline;
  font-size: 2rem;
  border: 0px;
  margin-left: -50px;
  background: none;
  color: #aaa;
}

.vehicle.primary-bg {
  transition: all 0.2s ease-out;
}

.vehicle.primary-bg:hover,
.vehicle.primary-bg:active,
.vehicle.primary-bg:focus {
  background-color: #064eb5;
  transition: all 0.2s ease-in;
}

.favourites .vehicle {
  width: 100%;
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}

.favourites .vehicle i {
  position: absolute;
  color: #fefefe;
  font-size: 4rem;
  width: 100%;
  text-align: center;
  top: 80px;
}

.favourites .vehicle h4 {
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  color: #fefefe;
}

.overview .vehicle {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.overview .vehicle h4 {
  color: #fefefe;
}

/* Single Vehicle
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.favourite-jumbotron form {
  display: inline;
}

.favourite-jumbotron button {
  border: 0px;
  background: none;
  color: #c2342a;
}

.favourite-jumbotron .btn {
  margin-left: 80px;
}

.modal-footer .btn-primary {
  border-radius: 4px;
}

#comment-form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 2rem;
  border-radius: 10px;
  border: 2px solid #dfdfdf;
}

p.comments {
  font-size: 2.2rem;
}

.quickaccess {
  padding-left: 20px;
  margin-top: : 20px;
}

.quickaccess h2 {
  margin-bottom: 20px;
}

/* Status Page
––––––––––––––––––––––––––––––––––––––––––––––––––*/
body.status {
  background-color: #05439c;
}

body.status h1 {
  margin-top: 50px;
  color: #FEFEFE;
  font-weight: 700;
}

body.status p {
  color: #FEFEFE;
}
