<!doctype html>
<html lang=en>

{% include "__head.html" with title="404" %}

<body class="status">
  {% include "__navigation.html" %}

  <div class="container animated slideInLeft">
    <h1>Error</h1>
    <p>We couldn't find the page you are looking for.</p>
    <p><a class="btn btn-secondary btn-lg" href="/" role="button">Back to the homepage</a></p>
  </div>

  {% include "__scripts.html" %}
</body>

</html>
