<header>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">

      <!-- Logo and toggle -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">VMS</a>
      </div>

      <!-- Navigation links -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          {% if user.is_authenticated %}
            <li><p>
            {% if user.first_name %}
              Welcome, {{ user.first_name }}
            {% else %}
              Welcome!
            {% endif %}
            </p></li>

            {% if user.is_staff %}
              <li><a href="/admin/" class="btn btn-secondary">Admin Panel</a></li>
            {% endif %}
            <li><a href="/vehicles/" class="btn btn-secondary">Vehicles</a></li>
            <li><a href="/logout/" class="btn btn-secondary">Log out</a></li>
          {% else %}
            <li><a href="/login/" class="btn btn-secondary">Sign in</a></li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->

    </div>
  </nav>
</header>
