{% load staticfiles %}

<script src="{% static 'website/js/highstock.js' %}"></script>
<script src="{% static 'website/js/canvg.js' %}"></script>
<script type="text/javascript" src="http://gabelerner.github.io/canvg/rgbcolor.js"></script> 
<script type="text/javascript" src="http://gabelerner.github.io/canvg/StackBlur.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
